@import "../../../../Main.scss";

.active-code-main {
	@include background-unset;

	.title {
		@include font-size-large;
	}

	.row .ant-row {
		margin-bottom: 0.5rem;
	}

	.level1 {
		@include font-size-level1;
		margin: 0 !important;
	}

	.info_level1 {
		font-size: 1.5rem !important;
		color: red;
	}

	.link_level1 {
		font-size: 1.5rem !important;
	}
}