@import "../../../../../../../Main.scss";

// $width: 10rem;

.little_man_level_status-main {

	// .row .ant-row {
	// 	margin-bottom: 0.5rem;
	// }

	.task_title {
		position: fixed;
		top: 2rem;
		left: 1rem;
		z-index: 1;

		@include font-size-level1;
	}
}